# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

# User added files
*.user
*.sdf
*.tlog

*.obj
*.log

/ipch/foo_android_syncer-5f028ce2/foo_android_syncer-56e1b7e3.ipch

Debug
/foo_android_syncer.v11.suo
